#farkas-plugin {
    min-height: 400px;
    padding: 0px;
    border: 1px solid $secondaryGrey;
}
.stream-table {
  height: 300px;
}
.resume {
  font-family: Roboto, sans-serif;
  padding: 5px 15px 5px 15px;
  .price {
    font-size: 3em;
  }
}
