#farkas-plugin {
    min-height: 400px;
    padding: 0px;
    border: 1px solid $secondaryGrey;
}

.stream-table {
    height: 300px;
}

.resume {
    font-family: Roboto, sans-serif;
    padding: 5px 15px 5px 15px;
    display: block;
    overflow: hidden;
    .spread-container {
        float: left;
    }
    .spread-col {
        overflow: hidden;
        line-height: 1em;
        line-height: 2em;
        .spread {
            float: left;
            font-size: 2em;
            span.icon {
                color: darken(white, 20%);
            }
            span {
                padding-left: 3px;
            }
        }
        .spread-percent {
            float: left;
            font-size: 1.5em;
            padding-left: 10px;
            color: darken(white, 20%);
        }
    }
    .spsize-col {
        overflow: hidden;
        .sp-size {
            float: left;
            font-size: 2em;
            span.icon {
                color: darken(white, 20%);
            }
            span {
                padding-left: 3px;
            }
        }
        .sp-size-percent {
            float: left;
            font-size: 1.5em;
            padding-left: 10px;
            line-height: 1.95em;
            color: darken(white, 20%);
        }
    }
    .price-col {
        float: right;
        display: block;
        font-size: 1.5em;
        opacity: 0.6;
        font-family: 'Unica One', sans-serif;
    }
    .price-bid {
        @extend .green;
    }
    .price-ask {
        @extend .red;
    }
}

.main-plugin-container {
    position: relative;
}

.collecting-data-loader {
    z-index: 10;
    position: absolute;
    background-color: $mainBlack;
    .loader {
        text-align: center;
        padding-top: 150px;
        margin: 0 auto;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100px;
        }
        p {
            display: block;
            font-size: 1.2em;
        }
    }
}
